<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Boards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skateboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=skate_boards" class="dropdown-item">Skate Boards</a>
                <a href="{% url 'products' %}?category=cruiser_boards" class="dropdown-item">Cruiser Boards</a>
                <a href="{% url 'products' %}?category=mini_boards" class="dropdown-item">Mini Boards</a>
                <a href="{% url 'products' %}?category=skate_boards,cruiser_boards,mini_boards" class="dropdown-item">All Skateboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Surfboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=short_boards" class="dropdown-item">Short Boards</a>
                <a href="{% url 'products' %}?category=hybrid_boards" class="dropdown-item">Hybrid Boards</a>
                <a href="{% url 'products' %}?category=long_boards" class="dropdown-item">Long Boards</a>
                <a href="{% url 'products' %}?category=short_boards,hybrid_boards,long_boards" class="dropdown-item">All Surfboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snowboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=mens_boards" class="dropdown-item">Men's Boards</a>
                <a href="{% url 'products' %}?category=womens_boards" class="dropdown-item">Women's Boards</a>
                <a href="{% url 'products' %}?category=kids-boards" class="dropdown-item">Kids' Boards</a>
                <a href="{% url 'products' %}?category=mens_boards,womens_boards,kids-boards" class="dropdown-item">All Snowboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'view_wishlists' %}">
                MY Wishlist
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'view_reviews' %}">
                Reviews
            </a>
        </li>
       
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact' %}">
                Contact Us
            </a>
        </li>
    
    </ul>
</div>