{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">Custom Board Order</h2>

    <form method="post" action="{% url 'create_custom' %}" enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}

        {{ form|crispy }}

        <!-- Submit Button -->
        <div class="container text-center">
        <button type="submit" class="btn btn-primary">Place Order</button>
    </div>
    </form>
</div>


{% endblock %}