{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Available Custom Board Orders</h2>

    <div class="container text-center">
        <a href="{% url 'create_custom' %}" class="btn btn-primary btn-lg mx-auto mt-3">Create New Custom Board Order</a>
    </div>

    <div class="row mt-4">
        {% for order in custom_orders %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order #{{ order.id }}</h5>
                        <p class="card-text">Type: {{ order.board_type }}</p>
                        <p class="card-text">Class: {{ order.board_class }}</p>
                        <p class="card-text">Length: {{ order.board_length }} cm</p>
                        <p class="card-text">Color: {{ order.board_color }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <form method="post" action="">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger delete-order" data-toggle="modal" data-target="#confirmDeleteModal" data-order-id="{{ order.id }}" data-delete-url="">
                                Delete
                            </button>
                        </form>
                        <a href="{% url 'view_order' order.id %}" class="btn btn-secondary">View Order Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if not custom_orders %}
        <p class="text-center my-4">No available custom orders.</p>
    {% endif %}

    <div class="container text-center">
    <a href="{% url 'create_custom' %}" class="btn btn-primary btn-lg mx-auto mt-3">Create New Custom Board Order</a>
</div>
</div>







{% endblock %}