{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>{{ wishlist.name }} Wishlist</h2>
<ul class="list-group">
  {% for product in products %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ product.name }} - ${{ product.price }}
          <form method="post" action="{% url 'remove_from_wishlist' wishlist.id product.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
      </li>
  {% endfor %}
</ul>



  <a href="{% url 'wishlist_add' wishlist.id %}" class="btn btn-primary">Add More Products</a>
  <br>
  <a href="{% url 'view_wishlists' %}" class="btn btn-secondary">Back To Whislists</a>

{% endblock %}