{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-5">{{ wishlist.name }} Wishlist</h2>
    <div class="d-flex justify-content-between mb-5">
        <a href="{% url 'view_wishlists' %}" class="btn btn-secondary mt-3">Back To Wishlists</a>
        <a href="{% url 'wishlist_add' wishlist.id %}" class="btn btn-primary mt-3">Add More Products</a>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }} - ${{ product.price }}</p>
                        <form method="post" action="{% url 'remove_from_wishlist' wishlist.id product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}