{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2>Add Products to Wishlist</h2>
  <form method="post" action="{% url 'wishlist_add' wishlist.id %}">
      {% csrf_token %}

      <div class="row">
          {% for product in all_products %}
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                      <div class="card-body">
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="product_{{ product.id }}" name="products" value="{{ product.id }}">
                              <label class="form-check-label" for="product_{{ product.id }}">
                                  {{ product.name }} - ${{ product.price }}
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Add Selected Products</button>
  </form>

  <br>
  <a href="{% url 'view_wishlist' wishlist.id %}" class="btn btn-secondary">Cancel</a>
</div>


{% endblock %}