{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mt-5 text-center">
    <h2>Your Radical Rides Wishlists</h2>
    <div class="list-group mt-5">
        {% for wishlist in user_wishlists %}
            <a href="{% url 'view_wishlist' wishlist.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ wishlist.name }}
                <form method="post" action="{% url 'delete_wishlist' wishlist.id %}" class="ml-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete Wishlist</button>
                </form>
            </a>
        {% endfor %}
    </div>

    <a href="{% url 'create_wishlist' %}" class="btn btn-dark my-5 mx-auto">
        Create Products Wishlist
    </a>

</div>

{% endblock %}